*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(220, 220, 220);
}
.container{
    width: 90%;
    max-width: 34em;
    position: absolute;
    transform:translate(-50%,-50%) ;
    top: 50%;
    left: 50%;


}
.simple-storage{
    background-color: #fff;
    position: relative;
    padding: 1.8em 1.25em;
    border-radius: 0.3em;
    box-shadow: 0 1.25em 1.5em rgba(1, 24, 48, 0.15);
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 1em;
}
.simple-storage input{
    font-family: "poppins" sans-serif;
    font-size: 1em;
    border: none;
    border-bottom: 2px solid #d1d3d4;
    padding: 0.8em 0.5em;
    color: #111;
    font-weight: 500;
}
.simple-storage input:focus{
    outline: none;
    border-color:rgb(49, 135, 206) ;

}
.simple-storage button{
    font-family: "poppins" sans-serif;
    font-size: 1em;
    border: none;
    font-weight: 500;
    color: #fff;
    background-color: rgb(49, 135, 206);
    border-radius: 5px;
    cursor: pointer;
    outline: none;

}
#texts{
    background-color: #fff;
    position: relative;
    padding: 1.8em 1.2em;
    margin-top: 3.8em;
    width: 100%;
    box-shadow: 0 1.25em 1.8em rgba(1, 24, 48, 0.15);
    border-radius:5px ;



}
.task{
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 0.3em 0.6em;
    margin-top: 0.6em;
    border-bottom: 2px solid #d1d3d4;
    cursor: pointer;
}
.task span{
    font-size: 0.9em;
    font-weight: 400;
}
.task button{
    color: #fff;
    padding: 0.8em 0;
    width: 2.8em;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
}
.delete{
    background-color: #fb3b3b;
}
.delete:hover{
    background-color: #fff;
    color:#fb3b3b ;
    border:1px solid #fb3b3b;
}
.edit{
    background-color: rgb(49, 135, 206);
    margin-left: auto;
    margin-right: 3em;

}
.edit:hover{
    background-color: #fff;
    color:rgb(49, 135, 206) ;
    border:1px solid rgb(49, 135, 206);
}

.completed{
    text-decoration: line-through;
}
#add{
    border-radius: 40px;
    width: 120px;
}
#add:hover{
    background-color: #fff;
    color:rgb(49, 135, 206) ;
    border:1px solid rgb(49, 135, 206);
}